.file-upload {
  height: 1000px;
  background-color: $duxappPageColor;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  &__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    background-color: $duxappWhiteColor;
    &__search {
      background-color: $duxappPageColor;
      border-radius: 50px;
      padding: 0 32px;
    }
    &__upload {
      font-size: 28px;
      color: $duxappTextColor1;
    }
    &__submit {
      font-size: 28px;
      color: $duxappPrimaryColor;
    }
  }
  &__item {
    flex-direction: row;
    padding: 0 32px;
    align-items: center;
    height: 160px;
    &__select {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border-width: 2px;
      border-color: $duxappLineColor;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      &__child {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: $duxappTextColor1;
      }
    }
    &__img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      flex-shrink: 0;
    }
    &__info {
      margin-left: 30px;
    }
    &__name {
      font-size: 32px;
      color: $duxappTextColor1;
      word-break: break-all;
    }
    &__desc {
      font-size: 26px;
      color: $duxappTextColor2;
    }
    &__uploading {
      align-self: stretch;
      height: 10px;
      border-radius: 5px;
      background-color: $duxappPageColor;
      overflow: hidden;
      margin-top: 8px;
      &__child {
        height: 10px;
        background-color: $duxappTextColor1;
      }
    }
  }
}
