.PickerView {
  /*  #ifndef rn */
  height: 360px;
  /*  #endif  */
  &__item {
    color: $duxappTextColor1;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*  #ifndef rn */
    flex-shrink: 0;
    height: 100px;
    font-size: 32px;
    /*  #endif  */
  }
}
