.Grid {
  &__row {
    flex-direction: row;
    align-items: center;
  }
  &__item {
    /*  #ifndef harmony  */
    width: 0;
    /*  #endif  */
    align-items: center;
  }
  &__square {
    aspect-ratio: 1;
  }
}
