.Textarea {
  background-color: $duxappPageColor;
  border-radius: 16px;
  padding: 24px;
  min-width: 300px;
  &__input {
    textalignvertical: top;
    width: 100%;
    font-size: 28px;
    line-height: 36px;
    color: $duxappTextColor1;
    .taro-textarea {
      background-color: transparent;
    }
  }
}
