.UIUplod {
  &__item {
    align-self: stretch;
    background-color: $duxappPageColor;
    border-radius: 16px;
    align-items: center;
    gap: 8px;

    &--one {
      width: 160px;
      height: 160px;
      align-self: flex-start;
    }

    &__image {
      border-radius: 16px;
    }

    &__icon {
      position: absolute;
      top: -20px;
      right: -20px;
      width: 42px;
      height: 42px;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 22px;
      border: 1px solid #f5f5f5;
    }
  }
}
