.UIUplod {
  &__item {
    align-self: stretch;
    background-color: $duxappPageColor;
    border-radius: 16px;
    align-items: center;
    gap: 6px;

    &--one {
      width: 160px;
      height: 160px;
      align-self: flex-start;
    }

    &__image {
      border-radius: 16px;
      overflow: hidden;
    }

    &__icon {
      position: absolute;
      top: -20px;
      right: -20px;
      width: 42px;
      height: 42px;
      align-items: center;
      justify-content: center;
      background-color: $duxappWhiteColor;
      border-radius: 22px;
      border-width: 1px;
      border-color: $duxappLineColor;
    }
  }
}
