.step-comp {
  &__row {
    width: 100%;
  }

  &__item {
    overflow: hidden;
    align-items: stretch;

    &--column {
      flex-direction: row;
      align-items: stretch;
    }

    &--row {
      flex-direction: column;
    }

    &__start {
      flex-shrink: 0;
    }

    &__center {
      &--row {
        height: 68px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }

      &--column {
        width: 68px;
        align-items: center;
        flex-shrink: 0;
      }
    }

    &__line {
      &--row {
        position: absolute;
        border-top-width: 2px;
        border-top-color: #e6e6e6;
        /*  #ifdef harmony  */
        top: 50%;
        height: 1px; // 鸿蒙没有高度边框不生效
        /*  #endif  */
      }

      &--column {
        position: absolute;
        border-left-width: 2px;
        border-left-color: #e6e6e6;
        /*  #ifdef harmony  */
        left: 50%;
        width: 1px; // 鸿蒙没有高度边框不生效
        /*  #endif  */
      }
    }

    &__point {
      &__point {
        width: 20px;
        height: 20px;
        background: $duxappPrimaryColor;
        border-radius: 10px;
      }
    }

    &__end {
      &--column {
        flex: 1;
      }
    }
  }
}
