.Elevator {
  flex: 1;

  &__group {
    padding: 24px 0;

    &__name {
      color: $duxappTextColor1;
      padding: 12px 0 24px 0;
      font-size: 24px;
      font-weight: bold;
      border-bottom-width: 1px;
      border-bottom-color: $duxappLineColor;
    }

    &__item {
      padding: 24px 0;
      font-size: 28px;
      color: $duxappTextColor1;
      border-bottom-width: 1px;
      border-bottom-color: $duxappLineColor;
    }
  }

  &__nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;

    &__content {
      background-color: $duxappPageColor;
      border-radius: 16px;
      padding: 8px 0;
      align-items: center;
    }

    &__item {
      color: $duxappTextColor1;
      padding: 6px 8px;
      font-size: 24px;
    }
  }

  &__search {
    height: 72px;
    background-color: $duxappPageColor;
    border-radius: 36px;
    padding: 0 20px;
    align-items: center;
    flex-direction: row;

    &__input {
      color: $duxappTextColor1;
      width: 100%;
      margin-left: 20px;
      font-size: 28px;
    }

    &__icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
    }
  }

  &__select {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    width: 200px;
    height: 200px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;

    &__text {
      color: #fff;
      font-size: 64px;
      font-weight: bold;
    }
  }
}
