.Badge {
  align-items: center;
  &__count {
    background-color: #F24844;
    min-width: 32px;
    height: 32px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    &--child {
      position: absolute;
      top: -16px;
      right: -16px;
    }
    &--outside {
      position: absolute;
      top: -16px;
    }
    &__text {
      color: #fff;
      font-size: 24px;
      padding: 0 8px;
      /*postcss-pxtransform rn eject enable*/
      white-space: nowrap;
      /*postcss-pxtransform rn eject disable*/
    }
  }
  &__dot {
    background-color: #F24844;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    &--child {
      position: absolute;
      top: -8px;
      right: -8px;
    }
  }
}
