.TabBar-page {
  &__item {
    display: none;
    flex: 1;

    &--hover {
      display: flex;
    }
  }
}

.TabBar-menu {
  flex-direction: row;
  background-color: #fff;
  border-top-width: 1px;
  border-top-color: #f1f1f1;
  /*postcss-pxtransform rn eject enable*/
  border-top-style: solid;

  /*postcss-pxtransform rn eject disable*/
  &__item {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 12px 0;

    &__name {
      margin-top: 10px;
      font-size: 22px;
      color: $duxuiTabBarNameColor;

      &--hover {
        color: $duxuiTabBarNameHoverColor;
      }
    }
  }

  &__icon {
    align-items: center;
    justify-content: center;

    &__image {
      width: 48px;
      height: 48px;
    }

    &__name {
      margin-top: 4px;
      font-size: 20px;
      color: $duxuiTabBarNameColor;

      &--hover {
        color: $duxuiTabBarNameHoverColor;
      }
    }
  }
}
