.ShowMessage {
  position: absolute;
  left: 24px;
  width: 702px;
  padding: 24px;
  background-color: #fff;
  align-items: start;
  z-index: 99;

  &__title {
    font-size: 32px;
    color: #333;
  }

  &__content {
    font-size: 24px;
    margin-top: 20px;
    color: #999;
  }
}
