.DividerHorizontal {
  flex-shrink: 0;
  padding-top: $duxuiDividerPadding;
  padding-bottom: $duxuiDividerPadding;
  &__child {
    flex-shrink: 0;
    border-color: #f5f5f5;
    border-top-width: 1Px;
    &--dotted {
      border-color: #e5e5e5;
    }
    &--dashed {
      border-color: #e5e5e5;
    }
  }
}
.DividerVertical {
  flex-shrink: 0;
  padding-left: $duxuiDividerPadding;
  padding-right: $duxuiDividerPadding;
  &__child {
    height: 100%;
    flex-shrink: 0;
    border-left: 1px solid #f5f5f5;
    &--dotted {
      border-color: #e5e5e5;
    }
    &--dashed {
      border-color: #e5e5e5;
    }
  }
}
