
.Divider-Horizontal {
  flex-shrink: 0;
  border-color: #f5f5f5;
  border-top-width: 1Px;
}

.Divider-Vertical {
  height: 100%;
  flex-shrink: 0;
  border-left-width: 1Px;
  border-color: #e5e5e5;
}
