.RollingView {
  &__item {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;

    &--default {
      min-width: 100%;
      height: 100%;
    }

    &--vertical {
      min-height: 100%;
      width: 100%;
    }
  }
}
