.DropDown {
  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  &__main {
    position: absolute;
    background-color: $duxappWhiteColor;
    border-radius: 20px;
    overflow: hidden;
    align-items: start;
    z-index: 10;
  }
  &__item {
    padding: 30px 50px;
    padding-right: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &--line {
      border-top-width: 1px;
      border-top-color: $duxappLineColor;
      margin: 0 50px;
      align-items: center;
    }
    &--select {
      background-color: #fdf5f3;
    }
    &__text {
      font-size: 32px;
      margin-right: 50px;
      color: $duxappTextColor1;
    }
  }
}
