.ConfirmForm {
  &__main {
    width: 650px;
    background-color: $duxappWhiteColor;
    border-radius: 32px;
    padding-top: 48px;
  }

  &__input {
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
  }

  &__divider {
    margin-top: 32px;
  }

  &__btns {
    height: 110px;
  }
}
