.Tab {
  align-items: center;

  &__row {
    padding-top: 16px;
    align-self: stretch;
  }

  &__item {
    padding: 0 20px;

    &--count {
      margin-top: 20px;
    }

    &__line {
      margin-top: 10px;
      width: $duxuiTabLineWidth;
      height: $duxuiTabLineHeight;
      border-radius: $duxuiTabLineRadius;
      background-color: $duxappPrimaryColor;
      opacity: 0;
    }

    &--button {
      align-items: center;
      justify-content: center;
      padding: 8px 32px;
      border-radius: 8px;
      margin: 0 14px;
      background-color: #fff;

      &-c {
        &-page {
          background-color: $duxappPageColor;
        }
      }

      &-select {
        background-color: $duxappPrimaryColor;
      }

      &-round {
        border-radius: 50px;
      }

      &-expand {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__expand {
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #fff;

    &__mask {
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    &__mask-top {
      z-index: 1;
    }

    &__content {
      background-color: #fff;
      padding: 24px;
      z-index: 1;
      border-radius: 0 0 16px 16px;
    }
  }

  &__con {
    overflow: hidden;
    align-self: stretch;
    flex: 1;

    &__item {
      flex: 1;
      display: none;

      &--select {
        display: flex;
      }
    }
  }
}
